body{
	background-color: black;
	color: white;
}
.purpl{
	background: linear-gradient(
		to bottom,
		rgba(138, 43, 226, 0.4),
		rgba(138,43,226,1),
		rgba(138,43,226,0.4)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.h1{
	font-family: "Lilita One";
	display: table;
	padding: 10px;
	font-size: 2rem;
	border-bottom: 0.5px solid;
	border-bottom-color: rgba(255,255,255,0.3);
	transition: 0.4s ease;
}
.h1:hover{
	color: transparent;
	background:linear-gradient(
		to bottom,
	rgba(138, 43, 226, 0.4),
		rgba(138,43,226,1),
		rgba(138,43,226,0.4)
	);
	background-clip: text;
	-webkit-background-clip: text;
	border-bottom-color: blueviolet;
}
.normalp{
	display: table;
	font-family: "Cause";
}
.shadedp{
	display: table;
	font-family: "Cause";
	padding: 3px;
	background-color: rgba(128,128,128,0.4);
	border-left: rgba(128,128,128,1) 1px solid;
	border-right: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-top: transparent 1px solid;
	transition: 0.4s ease;
	border-radius: 5px;
}
.shadedp:hover{
	border: 1px solid rgba(128,128,128,1);
}
.alertp{
	display: table;
	font-family: "Cause";
	color: red;
}
.importantp{
	display: table;
	font-family: "Cause";
	background-color: white;
	color: black;
	transition: 0.4s ease;
}
.importantp:hover{
	background-color: black;
	color: white;
}
.link{
	display: table;
	font-family: "Cause";
	text-decoration: underline;
	color: white;
	text-decoration-color: white;
	transition: 0.1s ease;
}
.link:hover{
	color: blueviolet;
	text-decoration-color: blueviolet;
}
